# Android
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
/gradle.properties

# Flutter
# Exclude specific files
lib/services/firestore/add_club.dart
android/app/build.gradle
pubspec.lock

# Keys and Keystores
key.properties
**/*.keystore
**/*.jks
